@using Saas.Office.Auto.Model
@model IEnumerable<RouteViewModel>
<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        @foreach (var headerItem in Model)
        {
            foreach (var item in headerItem.routeChildViewModel.OrderBy(a => a.controllerId))
            {
                if (item.controllerId == "1")
                {
                    <li class="nav-item start active open">
                        <a href="@Url.Action("Index",item.controllerName)" class="nav-link nav-toggle">
                            <i class="@item.icon"></i>
                            <span class="title">@item.menuName</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="javascript:;" class="nav-link nav-toggle">
                            <i class="@item.icon"></i>
                            <span class="title">@item.menuName</span>
                            <span class="arrow"></span>
                        </a>
                        <ul class="sub-menu">
                            @foreach (var childItem in item.childViewModel.OrderBy(a => a.controllerId))
                            {
                                <li class="nav-item  ">
                                    @foreach (var actionitem in childItem.actionViewModel.Where(a => a.actionName.Trim().ToLower() == "index"))
                                    {
                                        <a class="nav-link " href="@Url.Action(actionitem.actionName, childItem.controllerName, new { area = headerItem.areaName, selfid = childItem.controllerId, parentid = item.controllerId })">
                                            <span class="title">@childItem.menuName</span>
                                        </a>
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                }
            }
        }
    </ul>
</div>
